.js-hiraku {
  &__list {
    width: 100%;
    padding: 10px;
    @include vender(display, flex);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid unquote("rgba(#{$palette-grey-300}, 1)");
    color: unquote("rgba(#{$color-black}, 1)");
  }

  &__sub-list {
    width: 100%;
    padding: 10px 10px 10px 20px;
    @include vender(display, flex);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid unquote("rgba(#{$palette-grey-100}, 1)");
    color: unquote("rgba(#{$color-black}, 1)");
    font-size: 14px;
  }
}

.js-hiraku-offcanvas-btn {
  background: unquote("rgba(#{$color-primary-dark}, 1)");
  border-radius: 2px;

  &:hover {
    background: unquote("rgba(#{$palette-grey-800}, 1)");
  }

  &:focus {
    background: unquote("rgba(#{$color-primary-dark}, 1)");
  }
}
