.logo {
  height: 100px;
  font-size: 22px;
  letter-spacing: 5px;
  @include vender(display, flex);
  justify-content: center;
  align-items: center;

  @include query(tablet) {
    padding: 10px;
  }

  &__image {
    max-width: 30px;
  }
}
