
// ===================
// Color Configuration
// ===================

$color-primary: "0,0,0";
$color-primary-dark: "10,10,10";
$color-primary-light: "50, 50, 50";
$color-accent: "232, 246, 255";
$color-accent-dark: "82, 180, 227";
$color-indigo-900: $palette-indigo-900 !default;
