// ===================
// Color Configuration
// ===================

$color-primary: "255,240,245";
$color-primary-dark: "235,110,150";
$color-primary-light: "249, 219, 223";
$color-accent: "232, 246, 255";
$color-accent-dark: "82, 180, 227";
$color-indigo-900: $palette-indigo-900 !default;
